/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

header .logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 4rem 3
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    width: 40%;
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    width: 100%; /* Make the image responsive */
    height: 100%; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
  }

button {
    font-size: 16px;
    font-weight: 700;
    background-color: #3882F6;
    cursor: pointer;

}

.skills {
    text-align: center;
    color: #1F2937; /* Dark text for contrast */
    background-color: #F9FAF8; 
}

.skills h1{
    font-size: 36px;
    font-weight: 900;

}

.info-card-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-card {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #1F2937;
    padding: 10px 20px;
    margin: 0.6rem;
    border-radius: 5px;
}

.quote {
    background-color: #E5E7EB;
    text-align: center;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#1F2937;
}

.quote cite {
    font-size: 18px;
    color:#1F2937;
}


.call-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color:white;
    background-color: #3882F6;
}

.call-action h1{
    font-size: 36px;
    font-weight: 900;
}

.call-action p{
    font-size: 18px;
}

.call-action button {
    background-color: white;
    color:#3882F6;
    border: 2px solid white;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #1F2937;
    font-size: 15px;
}
